@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500;600&display=swap');

*
{
    padding: 0%;
    margin: 0%;
    font-family: 'Mukta', sans-serif;
}
/* *********************************utily class***************************************/
/* ************************************************************************************/
:root{
    --blue:blue;
    --white:white;
    --yello: rgb(235, 213, 20);
    --red:red;
    --skyblue:rgb(14, 170, 231);
    --brinjalcolor: rgb(94, 9, 151);
    --losesky:rgb(6, 68, 139);
    --gray:rgb(231, 231, 231);
}
/* top categories java script */
 body{
    background: #faf9f9;
 }

/* top categories java script */
.container
{  
   padding-left: 50px;
   padding-right: 50px;
   max-width: 1440px;
   margin: auto;
}

#arrow-connect{
 background: var(--white);
}
/* header part css */

.container
{  
   padding-left: 50px;
   padding-right: 50px;
   max-width: 1440px;
   margin: auto;
}
 

.usertoolbarcolor
{
    background-color: rgb(240 243 243);
}
.about_navbar
{
    display: flex;
    justify-content: space-between;
    font-size: 12px; 
    color: #686666;
    padding-top: 5px;
    padding-bottom: 5px;
}
.websitename h1
{
     font-size: 40px;
    font-weight: bold;
    font-family: 'Akshar';
    cursor: pointer;
}
.websitename a{
    text-decoration: none;
    color: black;
}

.contact{
    display: flex;
    column-gap: 10px;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}

.language_dollar {
    display: flex;
    column-gap: 10px;
}

.delivery_moremenu
{
    display: flex;
    column-gap: 10px;
    color: #686666;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
select{
    outline: none;
    border: none;
    font-size: 12px;
    color: #686666;
    background: #fff;
    cursor: pointer;
}

/* user Toolbar  */
.usertoolbar
{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.search
{
    display: flex;
}
#item
{
  height: 30px;
  color: var(--white);
  background: var(--blue);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50px;
  padding: 4px;
}
.search_bar input
{
    height: 30px;
    width: 490px;
    outline: none;
    padding: 8px;
    border: none;
}
.search i{
    font-size: 15px;
    color: var(--white);
    position: relative;
    top: 4px;
   
}
.search_glass
{
    height: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 28px;
    background: var(--blue);
    text-align: center;
    cursor: pointer;
}

.logo
{
    display: flex;
    column-gap: 10px;
}
.logo-regisrter-heart-icon{
    text-align: center;
}
.logo p
{
    font-size: 10px;
    text-align: center;
    color: rgb(121, 117, 117);
}
.logo i {
    font-size: 11px;
    text-align: center;
    padding: 7px;
    color:  rgb(121, 117, 117);
    border-radius: 50%;
    border: 2px solid rgb(175, 164, 164);
    text-align: center;
    cursor: pointer;
}
.logo .login i:hover{
    transform: scale(0.99);
}
.add_to_cart i{
    border-radius: 4px;
    padding: 7px;
    background: rgb(5, 5, 197);
    color: white;
    cursor: pointer;
   
}
.item-cart-s{
    color: rgb(121, 117, 117);
}


/* All Department part last part of header */

.alldepartment_Blog
{
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
    height: 10px;
    
}
.alldepartment
{
    display: flex;
     position: relative;
    align-items: center;
}
.alldepartment i{
    padding-left: 8px;
}
.dpt
{
    background-color:var(--yello);
    width: 221px;
    height: 44px;
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 10px;
    cursor: pointer;
}
#sale_lgo
{
    position: absolute;
    top: -8px;
    left: 185px;
    background-color:var(--red);
    font-size: 10px;
    width: 31px;
    color: var(--white);
    text-align: center;
}
.multilevel{
    display: flex;
    column-gap: 35px;
    padding-left: 30px;
    position: relative;
    color: #e2e7e7;
    cursor: pointer;
}
#new
{
    position: absolute;
    top: -17px;
    left: 202px;
    background: hsl(60, 100%, 50%);
    font-size: 10px;
    color: black;
    width: 35px;
    height: 16px;
    text-align: center;

}

.blog_phone
{
    display: flex;
    align-items: center;
    column-gap: 30px;
    cursor: pointer;
}
.alldepartment_menu
{
    background-color: var(--blue);
}

.call
{
    color: #e2e7e7;
    padding: 2px;
}
.blog
{
    background-color: rgb(235, 213, 20);
    width: 100px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    
}
.mobilenavigation_color
{
    display: none;
}
.mobile_jurnal
{
    display: none;
}

/* media query for header part */

@media screen and (max-width:565px)
{

}

@media screen and (max-width:1230px)
{
    .logo{
        column-gap: 3px;
    }
    .search_bar input{
        width: 280px;
    }
    .search{
        padding-left: 15px;
        padding-right: 15px;
    }
    .call
    {
        padding-left: 30px;
    }
    .blog
    {
        padding-right: 30px;
    }

    
}
/* mobile responsive */

.login_mobile
{
    /* display: flex; */
    align-items: flex-end;
}

@media screen and (max-width:1011px)
{
    .usertoolbarcolor,.alldepartment_menu,.about_navbar
    {
        display: none;
    }
    .mobilenavigation_color
    {
        display: block;
    }
    .mobile_jurnal
    {
        display: block;
        background: var(--white);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .jurnal_m h1
    {
        font-family: 'Akshar';
    }
    .searchhome-logo{
        padding-top: 10px;
    }
    
}


 


/* mobile navigation bar  code  (firat part of header)*/

.mobilenavigation_color
{
    background: var(--blue);
}
.mobilenavigation
{
    display: flex;
    justify-content: space-between;
    height: 61px;
    align-items: center;
}
.navlogin_register
{
    display: flex;
    column-gap: 20px;
}

.nav_doller_language
{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.nav_doller_language img{
    width: 20px;
    height:15px;
}


/* jurnol code */
.mobile_jurnal
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.mobile_jurnal_cart
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 44px;
}
.cart_search i{
    gap: 10px;
    letter-spacing: 10px;
    display: flex;
}
.navlogin_register i{
    background: var(--white);
    color: var(--blue);
    border-radius: 50%;
    padding: 7px;
}
.nav_doller_language{
    color: var(--white);
}
.txt
{
    color: var(--white);
    font-size: large;
}
#m-dollar, #m-lanuage{
    outline: none;
    border: none;
    color:var(--white);
    background-color:var(--blue);
    font-size: 23px;
}
.mobile_doller{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile_language{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile_jurnal 
{
    background-color: #ffff;

}


.jurnal_m 
{
    font-size: 22px;
    font-family: 'Akshar';
}
.cart_search{
    font-size: 35px;
    display: flex;
}
.websitename {
    font-weight: bold;
    font-family: 'Akshar';
}
/* media query of mobile responsive */

@media screen and (max-width:600px)
{
    
    .jurnal_m h1
    {
        font-size: 25px;        
        font-family: 'Akshar';
    }
}
@media screen and (max-width:575px)
{
    .cart_search{
        font-size: 25px;
    }
    .jurnal_m
    {
        font-size: 15px;
    }
    #m-dollar, #m-lanuage ,.mobile_doller{
        font-size: 12px;
    }
    .navlogin_register i
    {
        border-radius: 50%;
        padding: 3px;
    }
    .txt{
        font-size: 12px;
        padding-left: 5px;
    }
    .navlogin_register
    {
        column-gap: 10px;
    }
    .nav_doller_language
    {
      column-gap: 5px;
    }
}

@media screen and (max-width:412px)
{
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .navlogin_register i {
        border-radius: 50%;
        padding: 1px;
        font-size: 12px;
    }
    #m-dollar, #m-lanuage, .mobile_doller {
        font-size: 10px;
    }
    .nav_doller_language img {
        width: 10px;
        height: 7px;
    }
    .mobilenavigation
    {
        height: 32px;
    }

}
@media screen and (max-width:962px)
{
    .login_mobile{
        column-gap: 5px;
    }
}

 


/* header part css end */

/*************************product page css start ******************************************/
/*******************************************************************************************/

.product-left-right-part{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    column-gap: 27px;
}
.product-left-part{
    width: 50%;
    /* border: 2px solid red; */
}
.producuct-right-part
{
    width: 50%;
    height: 100%;
    position: relative;
}
.product-maincontainer,.product-apple-cinema{
    background: #faf9f9;
}

.product-smalllarge-image{
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    width: 100%;
    height: 44%;
}
.left-smallproduct-image{
    display: flex;
    width: 13%;
    flex-direction: column;
    gap: 10px;
}

.demo-img {
    width: 100%;
    height: 11%;
    border: 2px solid var(--gray);
    border-radius: 5px;
    cursor: pointer;
 }

.demo-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.left-large-image{
    width: 85%;
    height: 100%;
}
.left-large-image:hover{
    transform: scale(0.99);
}
.largeproductimage{
    width: 100%;
    height: 88%;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    background-color: var(--white);
    border: 2px solid var(--gray);
    border-radius: 5px;
}
.largeproductimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.right-heading{
    display: flex;
    column-gap: 15px;
}
#description_desk{
    width: 90px;
    height: 2px;
    border: none;
    outline: none;
    background-color: orangered;
}
.showmore{
    height: 100px;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px; 
    line-height: 23px;  
}
#showmore-shadow
{
    color: rgb(165, 163, 163);
}
.fashion_addcart_whislist {
    display: flex;
    column-gap: 30px;
    font-size: 10px;
}

#product-showmore{
    position: absolute;
    text-align: center;
    background: #0a0ad0;
    width: 130px;
    font-size: 17px;
    color: white;
    font-weight: 900;
    border: 1px solid #e0dfde;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    cursor: pointer;
}


.product-star{
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-star a{
    color: var(--blue);
}
#starcolor{
    color: var(--yello);
}
.pricestock{
    display: flex;
    padding-bottom: 20px;
    /* padding-bottom: 10px; */
    padding-top: 20px;
    border-bottom: 2px solid rgb(235, 228, 228);
    border-top: 2px solid rgb(235, 228, 228);
}
.pricedescription
{
    width: 35%;
    /* border: 2px solid red; */
    border-right: 2px solid rgb(235, 228, 228);
    font-size: 16px;
}
.stockpricemarket{
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
}

.in-stock ul li{
    list-style-position: inside;   
    color: #3a3939; 
    font-size: 14px
   
}

.stock-img {
        text-align: center;
        border: 2px solid var(--gray);
        border-radius: 5px;
        width: 94px;
        height: 55%;
 }

.applestack
{
    height: 80%;
}
.applestack img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.in-stock p
{
    color: green;
}
#previous-p
{
    font-size: 30px;
    color: #979494;
}
#previous-p i{
    font-size: 25px;
}
#updated-p{
    font-size: 40px;
    color: red;
}
#updated-p i{
    font-size: 30px;
}
#ex-tax{
    font-size: 14px;
}
.pricedescription p i{
    font-size: 13px;
}
.pricedescription p{
    color: #858282;
}
.pricedescription h3{
    color: #858282;
}
.previous-updated-prce{
    line-height: 40px;
}
.required-red:after {
    content:" *";
    color: red;
  }
.anotherselect{
    padding-top: 10px;
    padding-bottom: 10px;
}
.anotherselect select
{
    outline: none;
    font-size: 14px;
    color: #686666;
    background: #fff;
    text-align: center;
    border: 2px solid var(--gray);
    width: 30%;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
}
.circle-color-choice{
    display: flex;
    column-gap: 5px;
}
.product-circle{
    padding-top: 20px;
    padding-bottom: 20px;
}
.circle-one{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border:2px solid var(--gray);
}
#b-1{
    background-color: rgb(5, 175, 197);
}
#b-2{
   background-color:  #1308bf;
}
#b-3{
    background-color:  #1a5dbf;
}
#b-4{
    background-color: var(--red);
}
.radio-btn{
    width: 100%;
}
.radio-btn button{
    border: 2px solid var(--gray);
    font-size: 18px;
    width: 150px;
    height: 40px;
    color: #737070;
    border-radius: 3px;
    cursor: pointer;
}
.radio-btn button i{
    font-size: 16px;
}
.date-calenderlogo{
    width: 100%;
}
.time-inpiut{
    width: 80%;
}
.inputtext-padding, .textarea-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
#inputtext{
    width: 77%;
    height: 40px;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
}
#inputtextlarge{
    width: 99%;
    height: 100px;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    outline: none;
}
.uploadfile button{
    width: 100%;
    font-size: 15px;
    height: 40px;
    color: var(--white);
    background: rgb(7 7 166);
    text-align: center;
    border: 1px solid #c1bcbc;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.date-calenderlogo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.claender-icon{
    height: 44px;
    width: 43px;
    background-color: rgb(7 7 166);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.claender-icon i{
 margin-top: 10px;
 color: var(--white);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.input-addcart-buynow{
    display: flex;
    column-gap: 10px;
    width: 100%;
    border-top: 2px solid rgb(235, 228, 228);
    border-bottom: 2px solid rgb(235, 228, 228);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}
.input-count{
width: 10%;
outline: none;
border-radius: 3px;
border: 1px solid gainsboro;
}
.input-count input {
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    font-size: 20px;
    border: 2px solid rgb(221 219 219);
}
.last_addtocartbtn{
    width: 59%;
}
.last_addtocartbtn button{
    width: 100%;
    height: 44px;
    font-size: 15px;
    color: var(--white);
    background: rgb(7 7 166);
    text-align: center;
    border: 1px solid #c1bcbc;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
.last_addtocartbtn button i{
 padding-right: 10px;
}
.product-buynow{
    width: 19%;
    display: flex;
}
.product-buynow i{
    border: 2px solid var(--white);
    padding: 1px 3px;
    color: var(--white);
    border-radius: 50%;
    font-size: 10px;
    margin-right: 11px;
}

.product-buynow  button{
    height: 44px;
    width: 100%;
    color: var(--white);
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--white);
    background-color: #10a103;
    white-space: 3px;
    cursor: pointer;
}
.question-ans{
    width: 47px;
    height: 44px;
    background: red;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
.question-ans i
{
    margin-top: 13px;
    border: 2px solid var(--white);
    padding: 1px 3px;
    color: var(--white);
    border-radius: 50%;
    font-size: 12px;
}
.add-whishlist-compare-product{
    display: flex;
    gap: 10px;  
    padding-top: 10px;
    padding-bottom: 10px;
}
.min-max-quantity{
    border: 1px solid #c1baba;
    padding: 10px;
    background: #ddf9ff;
    border-radius: 3px;
}
.min-max-quantity i{
    padding: 3px 6px;
    background: #1a5dbf;
    color: #e5e5e9;
    border-radius: 50%;
    font-size: 10px;
}
.socialmedia-product-logo{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: #c0b9b9;
    cursor: pointer;
    
}
.socialmedia-product-logo i{
  padding-left: 13px;
  color: var(--white);
}
.productpage-socialmedialogo{
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 5px;   
}
.date,.date-calenderlogo{
    width: 100%;
}
.date-padding,.time-padding ,.date-time-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.time-inpiut input{
    width: 80%;
}
.time-inpiut-2nd{
    height: 35px;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding-left: 8px;
    width: 80%;
}
.date-calenderlogo{
    width: 100%;
}
.time-inpiut-time
{
    width: 85%;
}
#inputtexttime{
    height: 40px;
    width: 97%;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
}
.addwishlist i{
    color: var(--red);
    cursor: pointer;
}
.addwishlist,.compare-product span{
    color: #5a5a5a;
}
.compare-product i
{
    border: 2px solid var(--blue);
    padding: 3px 3px;
    color: var(--blue);
    border-radius: 50%;
    font-size: 11px;
    cursor: pointer;
}
.socialmedia-product-logo-last {
    width: 85px;
    height: 40px;
    /* border: 2px solid#c5bebe; */
    border-radius: 3px;
    text-align: center;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: #c0b9b9;
    cursor: pointer;
}
#seven-text {
   padding-left: 23px;
   color: var(--white);                                                        
}
#seven{
    color: white;
}
.most-viewed-related-product{
    background-color: #f0efef
}
.relatedproduct-bought-main{
    background-color: #f5f2f2;
   margin-top: 70px;
}
.related-bought{
    display: flex;
    column-gap: 20px;
    padding-top: 40px;
}
.related{
    cursor: pointer;
    font-size: 13px;
}

#peoplealsoid{
    color: #b1a8a8;
    cursor: pointer;
}
.people-bought h2{
    font-size: 20px;
}
.people_desk{
    display: none;
}
.relatedproducd-peoplebought_desk{
    background: #f5591c;
    border: none;
    height: 2px;
    border-radius: 5px;
}
.item_fashin_relatedproduct{
    height: 70%;
    width: 297px;
    border: 1px solid #c0bbbb;
    padding: 5px;
    background: var(--white);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.img-relatet-p img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.relatedprod-width{
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.btn-add-people{
    margin-bottom: 20px;
}

#peoplealso-bought-default{
    display: none;
}
#product-showless{
    position: absolute;
    text-align: center;
    background: #0a0ad0;
    width: 130px;
    font-size: 17px;
    color: white;
    font-weight: 900;
    border: 1px solid #e0dfde;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: none;
    cursor: pointer;
}

.desc{
color: #979494;
cursor: pointer;
}

.desc-active{
    color: black;
    border-bottom: 2px solid orangered;
}




/* *********************************media query satrt ************************************************************/
@media screen and (max-width:1282px)
{

    .in-stock ul {
        font-size: 13px;
    }
    .product-buynow i {
        margin-right: 4px;
    }
}
@media screen and (max-width: 1195px)
{
    .in-stock ul li{ 
        font-size: 10px;
    }
    .pricedescription p {
        font-size: 12px;
    }
}
@media screen and (max-width: 1050px)
{
    .pricestock{
        flex-direction: column-reverse;
    }
    .pricedescription{
        border: none;
    }
    .stockpricemarket{
        width: 100%;
    }
    .pricedescription
    {
        width: 100%;
    }
    .in-stock ul li{
        font-size: 15px;
    }
    .largeproductimage{
        height: 72%;
    }
    .pricedescription p {
        font-size: 15px;
    }
    .demo-img{
        height: 9%;
    }
    .product-buynow button
    {
        font-size: 10px;
    }
    .last_addtocartbtn{
        width: 50%;
    }
   .product-buynow{
    width: 20%;
   }
   #last-btn-doller{
    margin-top: 4px;
   }
   #updated-p{
    font-size: 36px;
   }
   #previous-p{
    font-size: 26px;
   }
}
@media screen and (max-width:988px)
{
    .in-stock ul li{
        font-size: 14px;
    }
    .right-heading{
        font-size: 14px;
    }
    .img-relatet-p img{
        height: 310px;
    }
    .product-buynow i {
        padding: 2px 3px;
        color: var(--white);
        border-radius: 50%;
        font-size: 7px;
    }
    .largeproductimage{
        height: 67%;
    }
    .stock-img{
        width: 80px;
    }
}

@media screen and (max-width:819px)
{
   .product-left-right-part
   {
    flex-direction: column;
   }
   .product-left-part
   {
    width: 100%;
   }
   .demo-img {
    height: 14%;
    }
    .producuct-right-part{
        width: 100%;
    }
    .right-heading{
        font-size: initial;
    }
    .in-stock ul{
        font-size: initial;
    }
    .product-buynow{
        width: 19%;
    }   
    .product-buynow button{
        font-size: initial;
    }
    .product-buynow i{
        border: 2px solid var(--white);
        padding: 1px 3px;
        font-size: 10px;
        margin-right: 11px;
    }
    .last_addtocartbtn{
        width: 59%;
    }
}
@media screen and (max-width:676px)
{
    .product-buynow i {
        margin-right: 4px;
    }
    .last_addtocartbtn {
        width: 50%;
    }
    .product-buynow{
        width: 35%;
    }
}
@media screen and (max-width:565px)
{
    
    .relatedprod-width
    {
        flex-direction: column;
    }
    
    .item_fashin_relatedproduct{
        width: 100%;
    }
    .related-bought{
        font-size: 13px;
    }
    .anotherselect select
    {
        font-size: 12px;
    }
    #relatedproductid,#peoplealsoid{
        font-size: 13px;
    }
}
@media screen and (max-width:476px)
{
    .related-bought{
        font-size: 10px;
    }
    .right-heading
    {
        font-size: 13px;
        column-gap: 5px;
    }
    .in-stock ul li{
        font-size: 13px;
    }
    .product-star
    {
        font-size: 14px;
    }
    .product-buynow button{
        font-size: 13px;
    }
    .last_addtocartbtn button i{
        margin-right: -7px;
    }
    .min-max-quantity{
        font-size: 14px;
    }
    .addwishlist i{
        font-size: 13px;
    }
    .addwishlist span{
        font-size: 13px;
    }
    .compare-product i{
        border: 1px solid var(--blue);
        padding: 3px 3px;
        color: var(--blue);
        border-radius: 50%;
         font-size: 6px;
    }
    .compare-product span{
        font-size: 13px;
    }
    .anotherselect select
    {
        font-size: 10px;
    }
    #product-showless
    {
        width: 114px;
        font-size: 14px;
    }
    #product-showmore{
        width: 114px;
        font-size: 14px;
    }
    .stock-img{
        width: 80px;
    }

   
}

@media screen and (max-width:408px)
{
    .demo-img {
        height: 11%;
    }
    .right-heading{
        font-size: 10px;
    }
    .in-stock ul li {
        font-size: 14px;
    }
    .product-star{
        font-size: 10px;
    }
    .related-bought{
        font-size: 7px;
    }
    .last_addtocartbtn{
        width: 45%;
    }
    .last_addtocartbtn button{
        font-size: 10px;
    }
    .product-buynow button
    {
        font-size: 13px;
    }
    .product-buynow i {
        padding: 1px 2px;
        font-size: 8px;
    }
    .min-max-quantity{
        font-size: 12px;
    }
    .copyright-andlogo p{
        font-size: 12px;
    }
    .stockpricemarket
    {
        padding-left: 4px;
    }
    #medium-btn-doller{
        margin-top: 4px;
    }
}
@media screen and (max-width:359px)
{
    .stock-img
    {
        width: 70px;
    }
    .in-stock ul li{
        font-size: 11px;
    }
}


/******************************Product page styleing css end******************************** */